# Database Configuration
MY_SQL_DB_HOST=localhost
MY_SQL_DB_USER=root
MY_SQL_DB_PASSWORD=
MY_SQL_DB_PORT=3306
MY_SQL_DB_DATABASE=Piper_Net
MY_SQL_DB_CONNECTION_LIMIT=10

# Server Configuration
PORT=3000

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d 